@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); /* Family İnter */ 
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
html, body {
    
    color: white;
    height: calc(100%-20px);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-align: center;
    background-color: hsl(233, 47%, 7%) ;
}
.contain { 
    margin: 40px 20px;
    color: white;
    align-items: center; 
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    overflow: hidden;
}
.img-header {
    height: 200px;
    background-image: url(./images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size:cover; 

}
.img-header .overlay {
   
    height: 100%;
    background-color:hsla(277, 45%, 49%, 0.6) ;
}
.content-box {
    font-family: "Inter", sans-serif;
    padding: 15px;
    
    
}
p { 
    font-size: 13px;    
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.6;
}
 ul{
    margin-left: 0;
    padding-inline-start: 1px;
    list-style-type: none;
 }
ul li {
    font-family: "Lexend Deca", sans-serif ;
    margin-bottom: 15px;
    font-weight: 400 ;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: hsla(0, 0%, 100%, 0.75);
}   

li span {  
    display: block;
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    text-transform: lowercase;
}

@media screen and (min-width: 768px) {
    html, body { 
        height: 100%;
    } 
    body {
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column  ;
}
.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.img-header , .content-box 
{ 
    width:400px ;
    box-sizing: border-box;
}
.img-header {
    background-size: cover;
    background-position: top;
    height: 100%;
    background-image:url(./images/image-header-desktop.jpg);
}
.content-box {
    text-align: start;
    padding: 50px 70px 50px 50px;
}
.content-box ul {
    padding-top: 45px;
    width: 90%;
    display: flex; 
    justify-content: space-between;
    

}

}

